<?xml version="1.0" encoding="utf-8"?>
<Services>
  <Service>
    <Name>INPROCESS</Name>
    <Type>WebNotifications</Type>
    <ClassName>GeneXus.Http.WebSocket.WSHandler</ClassName>
    <Properties>
      <Property>
        <Name>WEBNOTIFICATIONS_RECEIVED_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONOPEN_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONCLOSE_HANDLER</Name>
        <Value />
      </Property>
      <Property>
        <Name>WEBNOTIFICATIONS_ONERROR_HANDLER</Name>
        <Value />
      </Property>
    </Properties>
  </Service>
  <Service>
    <Name>AZUREMONITOR</Name>
    <Type>Observability</Type>
    <ClassName>GeneXus.OpenTelemetry.Azure.AzureAppInsights, GeneXus.OpenTelemetry.Azure.AppInsights, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null</ClassName>
    <Properties />
  </Service>
</Services>