<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="GxClasses" ToolsVersion="15.0">
  <RuleHintPaths>
    <Path>..\Tools\FxCop\Rules</Path>
  </RuleHintPaths>
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="managedminimumrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1013" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1049" Action="None" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1065" Action="None" />
    <Rule Id="CA1301" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1400" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1403" Action="None" />
    <Rule Id="CA1404" Action="None" />
    <Rule Id="CA1405" Action="None" />
    <Rule Id="CA1410" Action="None" />
    <Rule Id="CA1415" Action="None" />
    <Rule Id="CA1501" Action="Error" />
    <Rule Id="CA1505" Action="Error" />
    <Rule Id="CA1800" Action="Error" />
    <Rule Id="CA1802" Action="Error" />
    <Rule Id="CA1804" Action="Error" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1809" Action="Error" />
    <Rule Id="CA1810" Action="Error" />
    <Rule Id="CA1811" Action="Error" />
    <Rule Id="CA1812" Action="Error" />
    <Rule Id="CA1813" Action="Error" />
    <Rule Id="CA1814" Action="Error" />
    <Rule Id="CA1815" Action="Error" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1819" Action="Error" />
    <Rule Id="CA1820" Action="Error" />
    <Rule Id="CA1821" Action="Error" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA1824" Action="Error" />
    <Rule Id="CA1900" Action="None" />
    <Rule Id="CA1901" Action="None" />
    <Rule Id="CA1903" Action="None" />
    <Rule Id="CA2002" Action="None" />
    <Rule Id="CA2004" Action="None" />
    <Rule Id="CA2006" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2102" Action="None" />
    <Rule Id="CA2103" Action="None" />
    <Rule Id="CA2104" Action="None" />
    <Rule Id="CA2105" Action="Error" />
    <Rule Id="CA2106" Action="None" />
    <Rule Id="CA2107" Action="None" />
    <Rule Id="CA2108" Action="None" />
    <Rule Id="CA2109" Action="None" />
    <Rule Id="CA2111" Action="None" />
    <Rule Id="CA2112" Action="None" />
    <Rule Id="CA2114" Action="None" />
    <Rule Id="CA2115" Action="None" />
    <Rule Id="CA2116" Action="None" />
    <Rule Id="CA2117" Action="None" />
    <Rule Id="CA2118" Action="None" />
    <Rule Id="CA2119" Action="None" />
    <Rule Id="CA2120" Action="None" />
    <Rule Id="CA2121" Action="None" />
    <Rule Id="CA2122" Action="None" />
    <Rule Id="CA2123" Action="None" />
    <Rule Id="CA2124" Action="None" />
    <Rule Id="CA2126" Action="None" />
    <Rule Id="CA2130" Action="None" />
    <Rule Id="CA2131" Action="None" />
    <Rule Id="CA2132" Action="None" />
    <Rule Id="CA2133" Action="None" />
    <Rule Id="CA2134" Action="None" />
    <Rule Id="CA2135" Action="None" />
    <Rule Id="CA2136" Action="None" />
    <Rule Id="CA2137" Action="None" />
    <Rule Id="CA2138" Action="None" />
    <Rule Id="CA2139" Action="None" />
    <Rule Id="CA2140" Action="None" />
    <Rule Id="CA2141" Action="None" />
    <Rule Id="CA2142" Action="None" />
    <Rule Id="CA2143" Action="None" />
    <Rule Id="CA2144" Action="None" />
    <Rule Id="CA2145" Action="None" />
    <Rule Id="CA2146" Action="None" />
    <Rule Id="CA2147" Action="None" />
    <Rule Id="CA2149" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2202" Action="None" />
    <Rule Id="CA2205" Action="None" />
    <Rule Id="CA2207" Action="None" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2212" Action="None" />
    <Rule Id="CA2213" Action="None" />
    <Rule Id="CA2214" Action="None" />
    <Rule Id="CA2215" Action="None" />
    <Rule Id="CA2216" Action="None" />
    <Rule Id="CA2220" Action="None" />
    <Rule Id="CA2221" Action="None" />
    <Rule Id="CA2222" Action="None" />
    <Rule Id="CA2223" Action="None" />
    <Rule Id="CA2224" Action="None" />
    <Rule Id="CA2226" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2232" Action="None" />
    <Rule Id="CA2235" Action="None" />
    <Rule Id="CA2236" Action="None" />
    <Rule Id="CA2237" Action="None" />
    <Rule Id="CA2238" Action="None" />
    <Rule Id="CA2239" Action="None" />
    <Rule Id="CA2240" Action="None" />
    <Rule Id="CA2241" Action="None" />
    <Rule Id="CA2242" Action="None" />
    <Rule Id="CR1000" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1052" Action="None" />
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1724" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="None" />
    <Rule Id="CA2000" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.CSharp.Analyzers" RuleNamespace="Microsoft.CodeQuality.CSharp.Analyzers">
    <Rule Id="CA1032" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.DotNet.Analyzers.Compatibility" RuleNamespace="Microsoft.DotNet.Analyzers.Compatibility">
    <Rule Id="DE0006" Action="Hidden" />
    <Rule Id="DE0003" Action="Hidden" />
    <Rule Id="DE0004" Action="Hidden" />
    <Rule Id="DE0008" Action="Hidden" />
  </Rules>
</RuleSet>