<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
				<bindingRedirect oldVersion="4.0.2.0" newVersion="5.5.13.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>