name: PR Build

on: 
  pull_request:
    branches: 
      - 'master'
      - 'release-*'

jobs:
  build:
    env:
      GIT_REF: ${{ github.event.inputs.ref }}
      GIT_SHA: ${{ github.event.inputs.sha }}
      Configuration: Release
      SolutionFile: dotnet\DotNetStandardClasses.sln
    
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup Nuget.exe
      uses: warrenbuckley/Setup-Nuget@v1

    - name: Setup GitHub NuGet Registry (GPR)
      run: nuget sources Add -Name "GPR" -Source "https://nuget.pkg.github.com/genexuslabs/index.json" -UserName %GITHUB_ACTOR% -Password ${{ secrets.GITHUB_TOKEN }} 

    - name: Calculate environment variables
      run: |     
        $IsPrerelease = !($Env:GIT_REF -match 'release-[0-9]?\.[0-9]?$')
        echo "IsPrerelease=$IsPrerelease" >> $env:GITHUB_ENV

        $COMMIT_NUMBER = @($(git rev-list --count origin/master..), $(git rev-list --count HEAD))[$IsPrerelease]

        echo "COMMIT_NUMBER=$COMMIT_NUMBER" >> $env:GITHUB_ENV

    - name: Calculate package version
      run: |
        $GetFileVersionOutput = dotnet msbuild dotnet/Directory.Build.props /t:GetFileVersionForPackage
        "$GetFileVersionOutput" -match "(?<=FileVersion:)(.*)"
        $GetFileVersionOutput = $Matches[0]

        $NuGetPackageVersion = $GetFileVersionOutput
        if ([System.Convert]::ToBoolean($Env:IsPrerelease)) {
          $IsMaster = $Env:GIT_REF -match 'master$'
          $VersionTag =  @("trunk", "stable")[$IsMaster]
          $Timestamp = (Get-Date).ToString("yyyyMMddHHmmss")
          $NuGetPackageVersion = $NuGetPackageVersion + "-" + $VersionTag + "." + $Timestamp
        }

        Write-Output "Packge version to be used: $NuGetPackageVersion"

        echo "NuGetPackageVersion=$NuGetPackageVersion" >> $env:GITHUB_ENV

    - name: Restore packages
      run: dotnet restore $Env:SolutionFile

    - name: Build
      run: dotnet build $Env:SolutionFile --no-restore --configuration $Env:Configuration
       
    - name: Test
      run: dotnet test $Env:SolutionFile --no-restore --no-build --configuration $Env:Configuration

    - name: Pack
      run: dotnet pack $Env:SolutionFile --no-restore --no-build --configuration $Env:Configuration /p:Version=$Env:NuGetPackageVersion
